* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

body {
  background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.3)),
    url("https://meateatingmilitaryman.com/wp-content/uploads/2018/04/smoked_whole_chicken.gif?fbclid=IwAR3F-qikQYt6TwuTsNdNZFapat_M5xK9VDTmqMJ1-Yt0uv_Zz6_1a-Ft7Yg")
      no-repeat center;
  background-size: 100% 100%;
}

.container {
  position: relative;
  width: 100%;
  min-height: 100vh;
  overflow: hidden;
}

.container:before {
  content: "";
  position: absolute;
  width: 2000px;
  height: 2000px;
  border-radius: 50%;
  background: linear-gradient(-45deg, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8));
  background-size: cover;
  top: -10%;
  right: 48%;
  transform: translateY(-50%);
  z-index: 6;
  transition: 1.8s ease-in-out;
}

.forms-container {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.signin-signup {
  position: absolute;
  top: 50%;
  left: 75%;
  width: 50%;
  transform: translate(-50%, -50%);
  display: grid;
  grid-template-columns: 1fr;
  z-index: 5;
  transition: 1s 0.7s ease-in-out;
}

form {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0 5rem;
  overflow: hidden;
  grid-column: 1 / 2;
  grid-row: 1 / 2;
  transition: 0.2s 0.7s ease-in-out;
}

form.sign-in-form {
  z-index: 2;
}

form.sign-up-form {
  z-index: 1;
  opacity: 0;
}

.title {
  font-size: 2.2rem;
  color: white;
  margin-bottom: 10px;
  letter-spacing: 4px;
}

.input-field {
  max-width: 380px;
  width: 100%;
  height: 55px;
  background-color: transparent;
  margin: 10px 0;
  border-radius: 55px;
  border: 2px solid white;
  display: grid;
  grid-template-columns: 15% 85%;
  padding: 0 0.4rem;
}

.input-field:focus {
  outline: 2px solid orange;
}

.input-field i {
  text-align: center;
  line-height: 55px;
  color: white;
  font-size: 1.1rem;
}

.input-field input {
  background: none;
  outline: none;
  border: none;
  line-height: 1;
  font-weight: 600;
  font-size: 1.1rem;
  color: white;
}

.input-field input::placeholder {
  color: #fff;
  font-weight: 500;
}

.btn {
  width: 150px;
  height: 49px;
  border: none;
  outline: none;
  border-radius: 49px;
  cursor: pointer;
  background-color: #c40000;
  color: #fff;
  text-transform: uppercase;
  font-weight: 600;
  margin: 10px 0;
  transition: 0.5s;
}

.btn:hover {
  background-color: #c40000;
  box-shadow: 0 0 5px #c40000, 0 0 25px #c40000, 0 0 50px #c40000,
    0 0 100px #c40000;
}

.panels-container {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: grid;
  grid-template-columns: repeat(2, 1tr);
}

.panel {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-around;
  text-align: center;
  z-index: 7;
}

.left-panel {
  pointer-events: all;
  padding: 3rem 0 2rem 0;
  margin-right: 65%;
}

.right-panel {
  pointer-events: none;
  padding-right: 5%;
  margin-top: -50rem;
  margin-left: 50%;
}

.panel .content {
  color: #fff;
  transition: 0.9s 0.6s ease-in-out;
}

.panel p {
  font-size: 0.95rem;
  padding: 0.7rem 0;
}

/*.btn.transparent {
	margin: 0;
	background: none;
	border: 2px solid #fff;
	width: 130px;
	height: 41px;
	font-weight: 600;
	font-size: 0.8rem;
}*/

.image {
  width: 100%;
  transition: 1.1s 0.4s ease-in-out;
}

.right-panel .content,
.right-panel .image {
  transform: translateX(800px);
}

/* -- ANIMATION -- */
.container.sign-up-mode:before {
  transform: translate(100%, -50%);
  right: 52%;
}

.container.sign-up-mode .left-panel .image,
.container.sign-up-mode .left-panel .content {
  transform: translateX(-800px);
}

.container.sign-up-mode .right-panel .content,
.container.sign-up-mode .right-panel .image {
  transform: translateX(0px);
}

.container.sign-up-mode .left-panel {
  pointer-events: none;
}

.container.sign-up-mode .right-panel {
  pointer-events: all;
}

.container.sign-up-mode .signin-signup {
  left: 25%;
}

.container.sign-up-mode form.sign-in-form {
  z-index: 1;
  opacity: 0;
}

.container.sign-up-mode form.sign-up-form {
  z-index: 2;
  opacity: 1;
}

@media (max-width: 991px) {
  .left-panel {
    margin-left: 100px;
    margin-top: 80px;
  }

  .right-panel {
    padding-right: 0;
    margin-left: 650px;
    margin-top: -35rem;
    margin-right: 10%;
  }

  .panel .content img {
    display: none;
  }
}

@media (max-width: 867px) {
  .container {
    min-height: 800px;
    height: 100vh;
  }

  .container:before {
    width: 1500px;
    height: 1500px;
    left: 30%;
    bottom: 68%;
    transform: translateX(-50%);
    right: initial;
    top: initial;
    transition: 2s ease-in-out;
  }

  .signin-signup {
    width: 100%;
    left: 50%;
    top: 95%;
    transform: translate(-50%, -100%);
    transition: 1s 0.8s ease-in-out;
  }

  form.sign-in-form {
    margin-top: -10rem;
  }

  form.sign-up-form {
    margin-top: 5rem;
  }

  .input-field {
    max-width: 380px;
    width: 1000px;
  }

  .panels-container {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 2fr 1fr;
  }

  .panel {
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 2.5rem 8%;
  }

  .panel .content {
    padding-right: 15%;
    transition: 0.9s 0.6s ease-in-out;
    text-align: center;
  }

  .panel h1 {
    font-size: 2rem;
    padding-right: 15rem;
  }

  .panel p {
    font-size: 1rem;
    padding: 0 0;
  }

  .btn.btn1 {
    width: 110px;
    height: 35px;
    font-size: 0.7rem;
    padding: 0;
  }

  .image {
    width: 200px;
    transition: 0.9s 0.6s ease-in-out;
  }

  .left-panel {
    grid-row: 1 / 2;
    margin-top: 2rem;
    margin-right: 50%;
    padding: 0;
  }

  .left-panel h1 {
    margin-right: -25rem;
    margin-top: 2rem;
  }

  .left-panel h3 {
    margin-right: -10rem;
  }

  .left-panel p {
    margin-right: -15rem;
  }

  .left-panel .content .btn {
    margin-right: -10rem;
  }

  .right-panel {
    grid-row: 3 / 4;
    margin-top: 1rem;
    margin-left: -3rem;
  }

  .right-panel h1 {
    margin-right: -10rem;
  }

  .right-panel h3,
  p {
    margin-left: -4rem;
  }

  .right-panel .content .btn {
    margin-left: -4rem;
  }

  .right-panel .content,
  .right-panel .image {
    transform: translateY(300px);
  }

  .container.sign-up-mode:before {
    transform: translate(-50%, 100%);
    bottom: 32%;
    right: initial;
  }

  .container.sign-up-mode .left-panel .image,
  .container.sign-up-mode .left-panel .content {
    transform: translateY(-300px);
  }

  .container.sign-up-mode .signin-signup {
    top: 5%;
    transform: translate(-50%, 0);
    left: 50%;
  }
}

@media (max-width: 591px) {
  form {
    padding: 0 1.5rem;
  }

  .image {
    display: none;
  }

  .panel .content {
    padding: 0.5rem 1rem;
  }

  .container:before {
    bottom: 72%;
    left: 50%;
  }

  .container.sign-up-mode:before {
    bottom: 28%;
    left: 50%;
  }

  .panel h1 {
    font-size: 1.5rem;
    padding-right: 15rem;
  }

  .panel h3 {
    font-size: ;
  }

  .panel p {
    font-size: 0.8rem;
    padding: 0 0;
  }

  .left-panel h1 {
    margin-right: -26rem;
    margin-top: 2rem;
  }

  .left-panel h3 {
    margin-right: -11rem;
  }

  .left-panel p {
    margin-right: -6rem;
  }

  .left-panel .content .btn {
    margin-right: -10rem;
  }

  .right-panel {
    grid-row: 3 / 4;
    margin-top: 1rem;
    margin-left: -3rem;
  }

  .right-panel h1 {
    margin-right: -20rem;
  }

  .right-panel h3,
  p {
    margin-left: 5rem;
  }

  .right-panel .content .btn {
    margin-left: 5rem;
  }
}

@media (max-width: 549px) {
  .left-panel h1 {
    margin-right: -27rem;
    margin-top: 2rem;
  }

  .left-panel h3 {
    margin-right: -12rem;
  }

  .left-panel p {
    margin-right: -7rem;
  }

  .left-panel .content .btn {
    margin-right: -11rem;
  }
}

@media (max-width: 517px) {
  .left-panel h1 {
    margin-right: -28rem;
    margin-top: 2rem;
  }

  .left-panel h3 {
    margin-right: -13rem;
  }

  .left-panel p {
    margin-right: -8rem;
  }

  .left-panel .content .btn {
    margin-right: -12rem;
  }
}

@media (max-width: 485px) {
  body {
    background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.3)),
      url("../images/bg-home.jpg") no-repeat center;
    background-size: 200% 100%;
  }

  .btn {
    padding: 0;
  }

  .content {
    padding: auto;
    margin: auto;
  }

  .left-panel {
    width: 100%;
    margin-top: 10px;
    margin-left: -70px;
  }

  .right-panel {
    width: 100%;
    margin-bottom: -20px;
    margin-left: -40px;
  }

  .left-panel h1 {
    margin-right: -29rem;
    margin-left: -5rem;
    margin-top: 2rem;
    font-size: 28px;
  }

  .left-panel h3 {
    margin-right: -14rem;
    margin-left: -5rem;
  }

  .left-panel p {
    margin-right: -9rem;
    margin-left: -1rem;
    font-size: 16px;
  }

  .left-panel .content .btn {
    margin-right: -13rem;
    margin-left: -5rem;
  }

  .right-panel h1 {
    font-size: 28px;
  }

  .right-panel h3 {
    margin-right: -14rem;
    margin-left: -8rem;
  }

  .right-panel p {
    font-size: 16px;
  }
}

@media (max-width: 376px) {
  body {
    background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.3)),
      url("../images/bg-home.jpg") no-repeat center;
    background-size: 200% 100%;
  }

  .btn {
    padding: 0;
  }

  .content {
    padding: auto;
    margin: auto;
  }

  .left-panel {
    width: 100%;
    margin-top: 10px;
    margin-left: -70px;
  }

  .right-panel {
    width: 100%;
    margin-bottom: -20px;
    margin-left: -40px;
  }

  .left-panel h1 {
    margin-right: -29rem;
    margin-left: -5rem;
    margin-top: 2rem;
    font-size: 26px;
  }

  .left-panel h3 {
    margin-right: -14rem;
    margin-left: -5rem;
    font-size: 16px;
  }

  .left-panel p {
    margin-right: -9rem;
    margin-left: -1rem;
    font-size: 14px;
  }

  .left-panel .content .btn {
    margin-right: -13rem;
    margin-left: -5rem;
  }

  .right-panel h1 {
    font-size: 26px;
  }

  .right-panel h3 {
    margin-right: -14rem;
    margin-left: -8rem;
    font-size: 16px;
  }

  .right-panel p {
    font-size: 14px;
  }

  .input-field {
    max-width: 350px;
  }
}
